# Project for Foundations of Computer Science
Matteo Corona - Costanza Pagnin

### 0. Preliminary steps
### Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import re

### Reading *.csv* files from GitHub Repository

In [ ]:
travel=pd.read_csv("https://github.com/CoroTheBoss/CS-project/blob/main/dogTravel.csv",index_col=0)
dog=pd.read_csv('https://github.com/CoroTheBoss/CS-project/blob/main/dogs.csv')
nst=pd.read_csv("https://github.com/CoroTheBoss/CS-project/blob/main/NST-EST2021-POP.csv")

### Cleaning the dataset

In [ ]:
dog.loc[dog['status']!='adoptable','status':'accessed']=dog.loc[dog['status']!='adoptable','status':'accessed'].shift(periods=1, axis="columns")

### 1. Extract all dogs with status that is not *adoptable*

In [ ]:
dog[dog['status']!='adoptable'].head()

,id,org_id,url,type.x,species,breed_primary,secondary_clean,breed_secondary,breed_mixed,breed_unknown,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,o,NaN,False,False,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,o,Pit Bull Terrier,True,False,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,o,NaN,False,False,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,o,NaN,False,False,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,o,NaN,False,False,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelig...",57,82.61

### 2. For each (primary) breed, determine the number of dogs

In [ ]:
dog[dog['breed_primary'].isna()] #all dogs have a primary breed

Empty DataFrame
Columns: [id, org_id, url, type.x, species, breed_primary, breed_secondary, breed_mixed, breed_unknown, color_primary, color_secondary, color_tertiary, age, sex, size, coat, fixed, house_trained, declawed, special_needs, shots_current, env_children, env_dogs, env_cats, name, status, posted, contact_city, contact_state, contact_zip, contact_country, stateQ, accessed, type.y, description, stay_duration, stay_cost]
Index: []

[0 rows x 37 columns]

In [ ]:
dog[dog['id'].isna()] #all dogs have an id

Empty DataFrame
Columns: [id, org_id, url, type.x, species, breed_primary, breed_secondary, breed_mixed, breed_unknown, color_primary, color_secondary, color_tertiary, age, sex, size, coat, fixed, house_trained, declawed, special_needs, shots_current, env_children, env_dogs, env_cats, name, status, posted, contact_city, contact_state, contact_zip, contact_country, stateQ, accessed, type.y, description, stay_duration, stay_cost]
Index: []

[0 rows x 37 columns]

In [ ]:
dog.groupby('breed_primary').count()

,id,org_id,url,type.x,species,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
breed_primary,,,,,,,,,,,,,,,,,,,,,
Affenpinscher,17,17,17,17,17,2,17,17,5,2,...,17,17,17,17,17,17,17,14,17,17
Afghan Hound,4,4,4,4,4,1,4,4,1,1,...,4,4,4,4,4,4,4,4,4,4
Airedale Terrier,19,19,19,19,19,9,19,19,11,6,...,19,19,19,19,19,19,19,16,19,19
Akbash,3,3,3,3,3,0,3,3,3,0,...,3,3,3,3,3,3,3,3,3,3
Akita,181,181,181,181,181,52,181,181,114,61,...,181,181,181,181,181,181,180,163,181,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wirehaired Pointing Griffon,1,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,0,1,1
Wirehaired Terrier,60,60,60,60,60,18,60,60,36,17,...,60,60,60,60,60,60,59,54,60,60
Xoloitzcuintli / Mexican Hairless,11,11,11,11,11,4,11,11,8,1,...,11,11,11,11,11,11,11,11,11,11
Yellow Labrador Retriever,158,158,158,158,158,62,158,158,92,11,...,158,158,157,158,158,158,155,148,158,158
Yorkshire Terrier,360,360,360,360,360,129,360,360,173,88,...,360,360,360,360,360,360,353,335,360,360

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

In [ ]:
dog.insert(loc = 6,
          column = 'secondary_clean',
          value = 1)

In [ ]:
dog.loc[dog['breed_secondary']=='Mixed Breed', 'secondary_clean']='m'

In [ ]:
dog.loc[(dog.breed_secondary!='Mixed Breed'),'secondary_clean']='o'

In [ ]:
dog

,id,org_id,url,type.x,species,breed_primary,secondary_clean,breed_secondary,breed_mixed,breed_unknown,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,m,Mixed Breed,True,False,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,m,Mixed Breed,True,False,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,o,NaN,False,False,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,o,NaN,False,False,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,o,NaN,False,False,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,44605893,WY20,https://www.petfinder.com/dog/tren-44605893/wy...,Dog,Dog,Border Collie,o,NaN,False,False,...,Lander,WY,82520,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w...",100,324.34
58176,44457061,WY24,https://www.petfinder.com/dog/harley-44457061/...,Dog,Dog,Australian Shepherd,o,Australian Cattle Dog / Blue Heeler,True,False,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,65,245.90
58177,42865848,WY20,https://www.petfinder.com/dog/echo-42865848/wy...,Dog,Dog,Border Collie,o,NaN,False,False,...,Glenrock,WY,82637,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w...",100,184.06
58178,42734734,WY24,https://www.petfinder.com/dog/simon-42734734/w...,Dog,Dog,Boxer,m,Mixed Breed,True,False,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,58,61.05
58179,42663515,WY24,https://www.petfinder.com/dog/romeo-42663515/w...,Dog,Dog,Labrador Retriever,o,Pit Bull Terrier,True,False,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,100,255.38

In [ ]:
tab=dog.groupby(['breed_primary','secondary_clean'])['id'].count()
tab

breed_primary                      secondary_clean
Affenpinscher                      m                    1
                                   o                   16
Afghan Hound                       o                    4
Airedale Terrier                   m                    1
                                   o                   18
                                                     ...
Wirehaired Terrier                 o                   56
Xoloitzcuintli / Mexican Hairless  o                   11
Yellow Labrador Retriever          o                  158
Yorkshire Terrier                  m                   15
                                   o                  345
Name: id, Length: 354, dtype: int64

In [ ]:
tabdf=tab.unstack() #determine m/o
tabdf

secondary_clean                       m      o
breed_primary
Affenpinscher                       1.0   16.0
Afghan Hound                        NaN    4.0
Airedale Terrier                    1.0   18.0
Akbash                              NaN    3.0
Akita                               6.0  175.0
...                                 ...    ...
Wirehaired Pointing Griffon         NaN    1.0
Wirehaired Terrier                  4.0   56.0
Xoloitzcuintli / Mexican Hairless   NaN   11.0
Yellow Labrador Retriever           NaN  158.0
Yorkshire Terrier                  15.0  345.0

[216 rows x 2 columns]

In [ ]:
#dove m=Nan il ratio è 0
tabdf.loc[tabdf['m'].isnull(),'m']=0

In [ ]:
#dove o=Nan il ratio è +infinito, quindi posso mettere o=0.1
tabdf.loc[tabdf['o'].isnull(),'o']=0.1

In [ ]:
tabdf

secondary_clean                       m      o
breed_primary
Affenpinscher                       1.0   16.0
Afghan Hound                        0.0    4.0
Airedale Terrier                    1.0   18.0
Akbash                              0.0    3.0
Akita                               6.0  175.0
...                                 ...    ...
Wirehaired Pointing Griffon         0.0    1.0
Wirehaired Terrier                  4.0   56.0
Xoloitzcuintli / Mexican Hairless   0.0   11.0
Yellow Labrador Retriever           0.0  158.0
Yorkshire Terrier                  15.0  345.0

[216 rows x 2 columns]

In [ ]:
tabdf['ratio']=tabdf.apply(lambda row: row['m']/row['o'], axis=1)

In [ ]:
#check
tabdf.loc['Norwegian Buhund'] #only entry where o=0

secondary_clean
m         2.0
o         0.1
ratio    20.0
Name: Norwegian Buhund, dtype: float64

In [ ]:
tabdf.head()

secondary_clean     m      o     ratio
breed_primary
Affenpinscher     1.0   16.0  0.062500
Afghan Hound      0.0    4.0  0.000000
Airedale Terrier  1.0   18.0  0.055556
Akbash            0.0    3.0  0.000000
Akita             6.0  175.0  0.034286

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

In [ ]:
dog['posted']=pd.to_datetime(dog['posted'])

In [ ]:
time=dog.groupby('breed_primary')[['posted']].max()
time

                                                     posted
breed_primary
Affenpinscher                     2019-09-14 10:10:51+00:00
Afghan Hound                      2019-07-27 00:38:48+00:00
Airedale Terrier                  2019-09-19 18:40:39+00:00
Akbash                            2019-08-23 17:11:04+00:00
Akita                             2019-09-20 15:19:57+00:00
...                                                     ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55+00:00
Wirehaired Terrier                2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless 2019-09-08 11:15:54+00:00
Yellow Labrador Retriever         2019-09-20 06:30:27+00:00
Yorkshire Terrier                 2019-09-20 16:56:38+00:00

[216 rows x 1 columns]

In [ ]:
time['postedmin']=dog.groupby('breed_primary')[['posted']].min()
time

,posted,postedmin
breed_primary,,
Affenpinscher,2019-09-14 10:10:51+00:00,2012-03-08 10:27:33+00:00
Afghan Hound,2019-07-27 00:38:48+00:00,2017-06-29 23:28:51+00:00
Airedale Terrier,2019-09-19 18:40:39+00:00,2014-06-13 12:59:36+00:00
Akbash,2019-08-23 17:11:04+00:00,2019-07-21 00:35:59+00:00
Akita,2019-09-20 15:19:57+00:00,2012-03-03 09:31:08+00:00
...,...,...
Wirehaired Pointing Griffon,2016-06-29 20:03:55+00:00,2016-06-29 20:03:55+00:00
Wirehaired Terrier,2019-09-19 22:52:45+00:00,2012-11-27 14:07:54+00:00
Xoloitzcuintli / Mexican Hairless,2019-09-08 11:15:54+00:00,2007-02-01 00:00:00+00:00
Yellow Labrador Retriever,2019-09-20 06:30:27+00:00,2010-05-31 00:00:00+00:00
Yorkshire Terrier,2019-09-20 16:56:38+00:00,2012-02-04 17:14:52+00:00

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

per ora solo pastroccio non so che state scegliere

In [ ]:
dog.stateQ.unique() #should

array(['89009', '89014', '89024', '89027', '89121', '89406', '89408',
       '89423', '89431', '89451', '89801', 'AK', 'AL', 'AR', 'AZ', 'CA',
       'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT',
       'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NY', 'OH', 'OK', 'OR', 'PA',
       'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

In [ ]:
contr=dog[dog['stateQ']=='89009'][['contact_state']] #in 89009 c'è sia NV che AZ
contr.contact_state.unique()

array(['NV', 'AZ'], dtype=object)

In [ ]:
dog.contact_state.unique()

array(['NV', 'AZ', 'UT', 'CA', 'AK', 'AL', 'AR', 'CO', 'NY', 'MA', 'CT',
       'RI', 'NJ', 'NH', 'VT', 'MD', 'VA', 'DC', 'PA', 'WV', 'DE', 'FL',
       'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'OH', 'KS', 'KY', 'LA', 'ME',
       'QC', 'NB', 'MI', 'MN', 'WI', 'MO', 'MS', 'MT', 'NC', 'SC', 'ND',
       'NE', 'NM', 'OK', 'OR', 'SD', 'TN', 'TX', 'WA', 'WY'], dtype=object)

In [ ]:
dog.iloc[0]

id                                                          46042150
org_id                                                         NV163
url                https://www.petfinder.com/dog/harley-46042150/...
type.x                                                           Dog
species                                                          Dog
breed_primary                         American Staffordshire Terrier
secondary_clean                                                    m
breed_secondary                                          Mixed Breed
breed_mixed                                                     True
breed_unknown                                                  False
color_primary                                          White / Cream
color_secondary                          Yellow / Tan / Blond / Fawn
color_tertiary                                                   NaN
age                                                           Senior
sex                                                             Male
size                                                          Medium
coat                                                           Short
fixed                                                           True
house_trained                                                   True
declawed                                                         NaN
special_needs                                                  False
shots_current                                                   True
env_children                                                     NaN
env_dogs                                                         NaN
env_cats                                                         NaN
name                                                          HARLEY
status                                                     adoptable
posted                                     2019-09-20 16:37:59+00:00
contact_city                                               Las Vegas
contact_state                                                     NV
contact_zip                                                    89147
contact_country                                                   US
stateQ                                                         89009
accessed                                                  2019-09-20
type.y                                                           Dog
description        Harley is not sure how he wound up at shelter ...
stay_duration                                                     70
stay_cost                                                     124.81
Name: 0, dtype: object

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [ ]:
dog.groupby(['age','size'], as_index=False)[['stay_duration','stay_cost']].mean()

NameError: ignored

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `manual` is not missing, then it overrides what is stored in `found`.

### 9. For each state, compute the ratio between the number of travels and the population.

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.